<h1 class="text-center mb-3">{{title}}</h1>
    <div class="alert alert-warning" role="alert">{{message}}</div>
<form action="/" method="GET" class="mb-4">
  <input type="submit" value="è¿”å›" class="btn btn-primary btn-block">
</form>